.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    p{
      margin: 5px;
    }
  }
}
