@import "../../styles.scss";

.container {

    .pagebreak {
        //text-size-adjust: 100px;

    }

    .containerbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .block {
            margin: 5px;
            background: $secondary-color;
            padding: 10px;
            border-radius: 5px;
            width: calc(50% - 15px);
            margin-bottom: 15px;
            box-sizing: border-box;


        }
    }
}