// https://www.realtimecolors.com/dashboard?colors=060605-f7f8f6-889e70-b4c4a1-a1b884&fonts=JetBrainsMono%20Nerd%20Font-JetBrainsMono%20Nerd%20Font
// https://codebeyondlimits.com/articles/angular-theming-how-to-create-a-dynamic-theme-switcher-for-light-and-dark-mode

@import url('https://fonts.googleapis.com/css?family=JetBrainsMono%20Nerd%20Font:700|JetBrainsMono%20Nerd%20Font:400');

$text-color: #060605;
$background-color: #f7f8f6;
$primary-color: #889e70;
$secondary-color: #b4c4a1;
$accent-color: #a1b884;

body {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body{
  background: $background-color;
}
